.grid{
    display: grid;
    grid-template-columns: 200px 75px;
    margin-bottom: 50px;
}

.blue{
    background-color: lightblue;
}

.pink{
    background-color: lightpink;
}

.grid1{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    margin-bottom: 50px;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
}